
.box-1 {
    background-color: rgb(4, 206, 206);
    border: 1px solid navy;
    margin: 5px;
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    display: inline-block;
    height: 300px;
    text-align: center;
    white-space: normal;
}
.first{
   
}
html,body{
    width:100%;
    height: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

div:last-of-type:hover{
    background-color: greenyellow;
}
